<header class="header">
    <div class="app-name">
        <h2>SAP-JM</h2>
    </div>
    <div class="user-info">
        <h4 class="user-id"> </h4><!-- {{ rececionista.nome }} -->
    </div>
    <div class="profile">
        <i class="material-icons">person</i>
        <div class="logout-popup">
            <button (click)="logout()">Logout</button>
        </div>
    </div>
</header>
<div *ngIf="show">
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>Nº Processo</th>
                    <th>Nome</th>
                    <th>Estado</th>
                    <th>Detalhes</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1001</td>
                    <td>ABC</td>
                    <td>Rejeitado</td>
                    <td>Consultar motivo</td>
                </tr>
                <tr>
                    <td>1002</td>
                    <td>ABC</td>
                    <td>Aprovado</td>
                    <td>Consultar data da avaliação</td>
                </tr>
                <tr>
                    <td>1003</td>
                    <td>ABC</td>
                    <td>Em análise</td>
                    <td>Editar dados</td>
                </tr>
                <!-- <tr *ngFor="let pedido of pedidos">
                    <td>{{ pedido.id }}</td>
                    <td>{{ pedido.utente.name }}</td>
                    <td>{{ pedido.estado }}</td>
                    <td>{{ pedido.detalhes }}</td>
                </tr> -->
            </tbody>
        </table>
    </div>
    <button class="button-container">Efetuar Novo Pedido</button>
</div>
<footer class="footer"></footer>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">