<header class="header">
    <div class="app-name">
        <h2>SAP-JM</h2>
    </div>
    <div class="user-info">
        <h4 class="user-id">{{ primeiroPedido.numeroUtente }}</h4>
    </div>
    <div class="profile">
        <i class="material-icons">person</i>
        <div class="logout-popup">
            <button (click)="logout()">Logout</button>
        </div>
    </div>
</header>
<div *ngIf="show">
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>Nº Processo</th>
                    <th>Nome</th>
                    <th>Estado</th>
                    <th>Detalhes</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1001</td>
                    <td>ABC</td>
                    <td>Rejeitado</td>
                    <td>Consultar motivo</td>
                </tr>
                <tr>
                    <td>1002</td>
                    <td>ABC</td>
                    <td>Aprovado</td>
                    <td>Consultar data da avaliação</td>
                </tr>
                <tr>
                    <td>1003</td>
                    <td>ABC</td>
                    <td>Em análise</td>
                    <td>Editar dados</td>
                </tr>
                <!-- Other existing table rows -->
            </tbody>
        </table>
    </div>
    <button class="button-container" (click)="toggleFormPopup()">Efetuar Novo Pedido</button>
</div>
<div *ngIf="showFormPopup">
    <div>
        <form *ngIf="showFormPopup" class="form-container">
            <h2>Preencha os campos abaixo para efetuar o Pedido de Junta Médica</h2>
 <!-- Informações Pessoais -->
<div class="form-container">
    <h3>Informações Pessoais</h3>
    <div class="form-field">
        <input [(ngModel)]="primeiroPedido.nome_completo" type="text" id="fullName" name="fullName" placeholder="Nome Completo" readonly>
        <label for="birthDate">Data de Nascimento:</label>
        <input [(ngModel)]="primeiroPedido.data_nascimento" type="date" id="birthDate" name="birthDate" readonly>
    </div>
    <!-- Informações Documento -->
    <div class="form-field inline-field">
        <input [(ngModel)]="primeiroPedido.n_identificacao" type="text" id="nIdentificacao" name="nIdentificacao" placeholder="Nº Identificacao" readonly>
        <input [(ngModel)]="primeiroPedido.n_utente_saude" type="text" id="nUtente" name="nUtente" placeholder="Nº de Utente" readonly>
        <input [(ngModel)]="primeiroPedido.nif" type="text" id="nif" name="nif" placeholder="NIF" readonly>
    </div>
    <div class="form-field">
        <label for="validade">Data de Validade:</label>
        <input [(ngModel)]="primeiroPedido.data_validade" type="date" id="validade" name="validade" placeholder="Data de Validade" readonly>
    </div>
</div>
<!-- Informações Morada -->
<div class="form-container">
    <h3>Morada</h3>
    <div class="form-field">
        <label for="morada">Rua:</label>
        <input [(ngModel)]="primeiroPedido.rua" type="text" id="morada" name="morada" placeholder="Morada" readonly>
    </div>
    <div class="form-field inline-field">
        <input [(ngModel)]="primeiroPedido.codigo_postal" type="text" name="codigoPostal" placeholder="Codigo Postal" readonly>
        <input [(ngModel)]="primeiroPedido.localidade" type="text" id="localidade" name="localidade" placeholder="Localidade" readonly>
    </div>
    <div class="form-field inline-field">
        <input [(ngModel)]="primeiroPedido.concelho" type="text" id="concelho" name="concelho" placeholder="Concelho" readonly>
        <input [(ngModel)]="primeiroPedido.distrito" type="text" id="distrito" name="distrito" placeholder="Distrito" readonly>
    </div>
</div>
<!-- Informações Contacto -->
<div class="form-container">
    <h3>Contacto</h3>
    <div class="form-field inline-field">
        <input [(ngModel)]="primeiroPedido.telemovel" class="contacto" type="text" name="telemovel" placeholder="Telemóvel">
        <input [(ngModel)]="primeiroPedido.email" class="contacto" type="text" id="email" name="email" placeholder="E-mail">
    </div>
</div>
<!-- Anexo Documentos -->
<div class="form-container">
    <h3>Anexar Documentação</h3>
    <div class="form-field">
        <input type="file" id="registosClinicos" name="registosClinicos" accept=".pdf" (change)="onFileChange($event)" multiple>
        <div *ngFor="let file of files" class="document-item">
            <span (click)="openFile(file)">{{ file.name }}</span>
            <span (click)="removeFile(file)">&times;</span>
        </div>
    </div>
</div>
<!-- Opção -->
<div class="form-container">
    <div class="radio-group">
        <p>Vem solicitar a V.Exª, que ao abrigo do nº 1 do 3º do Decreto - Lei nº 202/96, de 12 de Outubro, seja admitido a Junta Médica para Avaliação do grau de incapacidade para efeito de:</p>
        <br>
        <label class="radio-option" for="multiuso">
            <input [(ngModel)]="primeiroPedido.multiuso" type="radio" id="multiuso" name="tipoPedido" value="multiuso">
            Multiuso (Decreto-Lei nº 202/96, de 23 de Outubro com a redação dada pelo Decreto-Lei nº 174/97, de 19 de Junho).
        </label>
        <label class="radio-option" for="importacao">
            <input [(ngModel)]="primeiroPedido.importacao_veiculo" type="radio" id="importacao" name="tipoPedido" value="importacao">
            Importação de veículo automóvel e outros (Lei nº 22-A/2007 de 29 de junho de 2007).
        </label>
    </div>
    <br>
    <div class="radio-group">
        <p>Comprometendo-se a ser portador de toda a informação clínica respeitante à(s) doença(s) e/ou deficiência(s) que justifica(m) este pedido.</p>
        <p>Informa ainda que:</p>
        <br>
        <label class="radio-option" for="submissaoReavaliacaoSim">
            <input [(ngModel)]="primeiroPedido.submissao_reavaliacao" type="radio" id="submissaoReavaliacaoSim" name="submissionStatus" value="sim" (change)="onSubmissionStatusChange('sim')">
            Já foi submetido em (data) <input [(ngModel)]="primeiroPedido.data_submissao_reavaliacao" type="date" name="dataSubmissaoReavaliacao">, pretendo uma reavaliação
        </label>
        <label class="radio-option" for="nuncaSubmetido">
            <input [(ngModel)]="primeiroPedido.submissao_reavaliacao" type="radio" id="nuncaSubmetido" name="submissionStatus" value="nao" (change)="onSubmissionStatusChange('nao')">
            Nunca foi submetido a Junta Médica de avaliação do grau de incapacidade
        </label>
    </div>
    <div class="form-group" *ngIf="showPreviousAssessmentField">
        <p class="warning-message">Aviso: Inclua o atestado médico anterior na seção "Anexar Documentação".</p>
    </div>               
</div>
<button (click)="submitForm()">Submeter</button>
</form>
</div>
</div>
<footer>
<!-- Footer content, if any -->
</footer>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
