<header class="header">
    <div class="app-name" >
        <h2>SAP-JM</h2>
    </div>
    <div class="user-info">
        <span class="user-id">Admin</span>
    </div>
    <div class="profile" (click)="toggleLogoutPopup()">
        <i class="material-icons">person</i>
        <div *ngIf="showLogoutPopup" class="logout-popup">
            <button (click)="logout()">Logout</button>
        </div>
    </div>
</header>
<footer class="footer"></footer>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">